<h1>Data Science Tools and Ecosystem<h2/>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>The Data Science Task Catagories:</b>
("Data Management","Data Visualization","Model Deployment")

some of the popluar languages that Data Scientist user are:

In [1]:
lan=["python","R","SQL"]

some of the commonly used libraries used by Data Scientist include:

In [2]:
lib=["pandas","ggplot","numpy"]

<table>
    <tr>Data science Tools
        <td>Anaconda<td/>
        <td>Jupyter<td/>
        <td>cloud base<td/>
    <tr/>

<h3>Below are a few examples of evaluating arithmetic expressions in python<h3/>

In [4]:
#this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2>Author:</h2>
    Abdulsalam Hebras