In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [21]:
student=pd.read_excel('students.xlsx')
student

,id,name,track,giographic,history,computer,arabic,islamic,english,physics,chemister,biology,math
0,1,salam,engineer,NaN,NaN,NaN,90,99,100,90,80,NaN,91

In [ ]:
def mainMeun():
    print('please choose one of these options')
    print('---------------------------------------')
    print('[1]-add a new student')
    print('[2]-delete a student')
    print('[3]-display a student')
    print('[4]-update a student')
    print('[5]-exit')

In [33]:
def search():
    x=input(enter the_id of the student:)

SyntaxError: invalid syntax (Temp/ipykernel_10336/1454386105.py, line 2)

In [24]:
def addMenu():
    print('please choose one of these options')
    print('---------------------------------------')
    print('[1]-foundation')
    print('[2]-medical')
    print('[3]-engineer')
    print('[4]-exit')

In [25]:
def addNewStudent():
    search()
    addMenu()

IndentationError: expected an indented block (Temp/ipykernel_10336/3510120592.py, line 1)

In [29]:
def deleteStudent():
    search()

In [ ]:
def updateMeun():
      print('please choose one of these options')
    print('---------------------------------------')
    print('[1]-update name')
    print('[2]-update track')
    print('[3]-update subjects')
    print('[4]-exit')

In [27]:
def updateStudent():
    search()

IndentationError: expected an indented block (Temp/ipykernel_10336/1298619283.py, line 2)

In [28]:
def displayStudent():
    search()

IndentationError: expected an indented block (Temp/ipykernel_10336/4054980291.py, line 1)